[MASTER]
load-plugins=
    pylint.extensions.docparams  # Check docstring parameters
disable=
    missing-raises-doc,          # Don't warn about missing raises clauses in docstrings
    duplicate-code               # Don't warn about duplicate code fragments
ignore=sampling/test             # Ignore linter in test module
ignore-patterns=test_.*?py       # Ignore linter in test module

[FORMAT]
max-line-length=120              # Set maximum line length to 120 instead of 80

[SIMILARITIES]
ignore-imports=yes               # Don't report duplicate code warning from import statements
